doctype html
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
html(lang='en')
    head
    body
       h1.mb-3 FactChecker BR
       form(method='POST' action='/review')
            div.form-group
                label(for=url)
                input#url.form-control(type=text,placeholder='http://' name='url')
            button.btn-btn-primary(type='submit') Carregar