extends layout/layout.pug
block content
    div.container
        h1.mb-3 FactChecker BR
        form(method='POST' action='/review/create')
            div.form-group
            label(for=url)
            input#url.form-control(type=text,placeholder='http://' name='url')
            <br/>
            button.btn-primary.float-right(type='submit') Carregar